<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{^is "blog"}}
        <title>{{meta_title}}</title>
    {{else}}
        <title>{{block "title"}}</title>
        {{{block "description"}}}
    {{/is}}
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}} is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
<div class="site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                </div>
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                <button class="gh-burger"></button>
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
                {{#unless @site.members_enabled}}
                    {{#match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{/unless}}
            </nav>

            <div class="gh-head-actions">
                {{#unless @site.members_enabled}}
                    {{^match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{else}}
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    <div class="gh-head-members">
                        {{#unless @member}}
                            {{#unless @site.members_invite_only}}
                                <a class="gh-head-link" href="#/portal/signin" data-portal="signin">Iniciar sesión</a>
                                <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Registrarse</a>
                            {{else}}
                                <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">Iniciar sesión</a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/account" data-portal="account">Cuenta</a>
                        {{/unless}}
                    </div>
                {{/unless}}
            </div>
        </div>
    </header>

    {{#is "home"}}
    {{#if @site.cover_image}}
        <div class="site-cover u-overlay">
            <img class="cover-image u-object-fit" src="{{img_url @site.cover_image}}" alt="{{@site.title}}">
            <div class="cover-content">
                {{#if @site.logo}}
                    <img class="cover-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{/if}}
                {{#if @site.description}}
                    <div class="cover-description">{{@site.description}}</div>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{/is}}

    <div class="site-content">
        {{{body}}}
    </div>

    <footer class="gh-foot gh-outer">
        <div class="gh-foot-inner gh-inner">
            <div class="subscribe{{#if is_popup}} popup{{/if}}">
                {{#if @custom.xmpp_room_link}}
                    <a href="{{@custom.xmpp_room_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                        {{> "icons/xmpp"}}
                        <span class="subscribe-text">XMPP</span>
                    </a>
                {{/if}}
                {{#if @custom.funkwhale_link}}
                    <a href="{{@custom.funkwhale_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                        {{> "icons/funkwhale"}}
                        <span class="subscribe-text">FunkWhale</span>
                    </a>
                {{/if}}
                {{#if @custom.mastodon_link}}
                    <a href="{{@custom.mastodon_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                        {{> "icons/mastodon"}}
                        <span class="subscribe-text">Mastodon</span>
                    </a>
                {{/if}}
                {{#if @custom.archive_link}}
                    <a href="{{@custom.archive_link}}" class="subscribe-link" target="_blank" rel="noopener noreferrer">
                        {{> "icons/archive-org"}}
                        <span class="subscribe-text">Archive</span>
                    </a>
                {{/if}}
                <a href="{{#if @custom.rss_link}}{{@custom.rss_link}}{{else}}{{@site.url}}/rss{{/if}}" class="subscribe-link rss" target="_blank" rel="noopener noreferrer">
                    {{> "icons/rss"}}
                    <span class="subscribe-text">RSS</span>
                </a>
                <a href="{{#if @custom.rss_blog_link}}{{@custom.rss_blog_link}}{{else}}{{@site.url}}/blog/rss{{/if}}" class="subscribe-link rss" target="_blank" rel="noopener noreferrer">
                    {{> "icons/rss"}}
                    <span class="subscribe-text">RSS Blog</span>
                </a>
            </div>
            <nav class="gh-foot-menu">
                {{navigation type="secondary"}}
            </nav>
            <div class="gh-copyright">
                {{@site.title}} © {{date format="YYYY"}}. Hecho con {{> "icons/heart"}} utilizando Software Libre.
            </div>
        </div>
    </footer>

    {{^is "post, page"}}
        {{> "player"}}
    {{/is}}

</div>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
</script>
<script src="{{asset "built/main.min.js"}}"></script>

{{{block "scripts"}}}

{{ghost_foot}}

</body>
</html>
